.main-grid{
    padding: 40px 40px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tab-header{
    display: flex;
    gap: 10px;
    font-size: 25px;
    justify-content: start;
    width: 100%;
    border-bottom: 1px solid var(--gray-lighter);
    padding-bottom: 10px;
}

.tab{
    font-weight: 700; 
    color: var(--gray-light);
}

.active{
    color: var(--almost-black);
}

.controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-div{
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 1px solid var(--gray-light);
    padding: 2px 10px
}

.search{
    font-size: 15px;
    color: var(--gray-mid);
    border: none;
}

.search-icon{
    /* background-color: var(--gray-lighter); */
    border-left: 1px solid var(--gray-mid);
    padding-left: 5px;
    /* height: 100%; */
    color: var(--gray-mid);
}

.grid{
    /*
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 20px; 
    column-gap: 5px;
    row-gap: 5px;
    */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.grid-img{
    /* if grid */
    /* width: 100%;
    aspect-ratio: 2/3; */
    height: 400px;
    width: 300px;
    background-color: var(--gray-lighter);
}