.main-home{
    padding: 40px 120px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tab-header{
    display: flex;
    gap: 10px;
    font-size: 25px;
    justify-content: start;
    width: 100%;
    border-bottom: 1px solid var(--gray-lighter);
    color: var(--gray-light);
    padding-bottom: 10px;
}

.tab{
    font-weight: 700; 
    color: var(--gray-light);
}

.active{
    color: var(--almost-black);
}

.reels{
    display: flex;
    gap: 20px;
    justify-content: start;
    width: 100%;
}

.reel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.reel-av{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--gray-light);
    border: 2px solid white;
    outline: 2px solid var(--blue-dark);
}

.reel-author{
    font-size: 12px;
    color: var(--almost-black);
    font-weight: 500;
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    gap: 10px;
}

/* .post{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-lighter);
}

.post-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-top-left{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.post-av{
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border-radius: 50%;
}

.post-author{
    font-weight: 500;
}

.post-time{
    font-weight: 300;
}

.post-icon{
    font-size: 25px;
}

.post-img{
    width: 100%;
    height: 600px;
    background-color: lightgray;
    border-radius: 5px;
    object-fit: cover;
}

.post-bottom{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 20px;
    gap: 5px;
}

.post-bottom-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icons-left{
    display: flex;
    gap: 10px;
}

.post-tags{
    display: flex;
    gap: 5px;
}

.tag{
    font-weight: 500;
    font-size: 12px;
}

.likes, .post-content, .translate, .see-all, .add-comment{
    font-size: 15px;
}

.translate{
    font-weight: 300;
}

.comment{
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.comm-author{
    font-weight: 600;
}

.comm-text{
    font-weight: 300;
}

.add-comment{
    font-weight: 500;
}

.unliked{
    color: var(--almost-black)
}

.liked{
    color: var(--red-main);
}

.followed{
    color: var(--blue-dark);
} */