.main-post{
    padding: 40px 80px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.post{
    /* width: 450px; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-lighter);
}

.post-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-top-left{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.post-av{
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border-radius: 50%;
}

.post-author{
    font-weight: 500;
}

.post-time{
    font-weight: 300;
    /* color: lightgray; */
}

.post-icon{
    font-size: 25px;
}

.post-img-div{
    width: 100%;
    height: 600px;
    background-color: var(--almost-black);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.post-img{
    background-color: var(--gray-lighter);
    height: 100%;
    width: 400px;
    object-fit: cover;
    /* object-fit: contain; */
    /* aspect-ratio: ; */
}

.post-bottom{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 20px;
    gap: 5px;
}

.post-bottom-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icons-left{
    display: flex;
    gap: 10px;
}

.post-tags{
    display: flex;
    gap: 5px;
}

.tag{
    font-weight: 500;
    font-size: 12px;
}

.likes, .post-content, .translate, .see-all, .add-comment{
    font-size: 15px;
}

.translate{
    font-weight: 300;
}

.comm-author{
    font-weight: 600;
}

.comm-text{
    font-weight: 300;
}

.add-comment{
    margin-top: 5px;
    font-weight: 500;
}

.unliked{
    color: var(--almost-black)
}

.liked{
    color: var(--red-main);
}

.followed{
    color: var(--blue-dark);
}

.comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comment{
    display: flex;
    gap: 5px;
    font-size: 15px;
    align-items: center;
}

.comm-icon{
    margin-left: 5px;
    font-size: 15px;
}

.comm-likes{
    font-size: 15px;
}