.main-user{
    padding: 40px 80px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user-div{
    width: 100%;
    padding: 10px 40px;
    border-bottom: 1px solid var(--gray-lighter);
    display: flex;
    gap: 10px;
}

.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--gray-light);
}

.user-div-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.right-top{
    display: flex;
    justify-content: space-between;
}

.right-top-left{
    display: flex;
    gap: 5px;
}

.right-top-right{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    min-width: 150px;
}

.author{
    font-weight: 600;
}

.user-info{
    font-weight: 300;
}

/* grid */

.grid{

    /* with flexbox */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%; */

    /* with grid */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-gap: 10px;
    justify-content: center;
    padding: initial;
}

.grid-img{
    height: 400px;
    width: 300px;
    background-color: var(--gray-lighter);
}

.add-post{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
    color: var(--gray-dark);
}

.follow{
    color: var(--blue-dark);
    font-size: 12px;
}